/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-primary);
  font-variation-settings: "wght" var(--font-weight-normal, 410);
  font-size: var(--font-size);
  background-image: var(--gradient-body);
  background-attachment: fixed;
  background-size: cover;
}

.container {
  max-inline-size: var(--block-size);
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-secondary);
  font-family: var(--font-secondary);
  padding-block: clamp(7.625rem, 7.0481rem + 2.4615vw, 8.125rem);;
}

.header-card {
  margin-block: 97px;
  border: 2px solid var(--color-primary);
}

.header__logo {
  margin-block-end: 20px;
}

.header__logo-text {
  display: block;
  font-size: clamp(3.063rem, 4.923vw + 1.909rem, 4.063rem);
  max-width: max-content;
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(0.875rem, 2.769vw + 0.226rem, 1.438rem);
  text-transform: uppercase;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block-end: 100px;
}

.card {
  position: relative;
  background-color: var(--color-secondary);
  border: 2px solid var(--color-primary);
}

.card__like-button {
  max-inline-size: 130px;
}

.card__title {
  font-size: var(--font-size);
  font-variation-settings: "wght" var(--font-weight-bold);
  padding: 5px 10px;
}

.card__image {
  inline-size: 100%;
  display: flex;
  object-fit: cover;
  object-position: center;
  width: 100%;
  flex: 1;
  aspect-ratio: 1/1;
}

.card__images-content {
  border-block-start: 1px solid var(--color-primary);
  border-block-end: 1px solid var(--color-primary);
}

.card__label {
  position: absolute;
  top: 57px;
  right: 25px;
  font-family: var(--font-secondary);
  font-size: 14px;
  mix-blend-mode: hard-light;
  color: var(--color-primary);
  text-transform: uppercase;
  opacity: 0.5;
  z-index: 1;
  text-shadow: 
    1px 1px 0 var(--color-secondary),
   -1px 1px 0 var(--color-secondary),
    1px -1px 0 var(--color-secondary),
   -1px -1px 0 var(--color-secondary);
}

.card__text {
  line-height: 21px;
}

.card__text-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 23px;
}

.card__actions {
  display: flex;
  justify-content: end;
  padding: 0 24px 24px;
  gap: 5px;
}

.card__actions button {
  background-color: transparent;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-secondary);
  font-size: 14px;
  padding: 11px 37px;
  border: 2px solid var(--color-primary);
  transition: box-shadow 0.3s ease;
  appearance: none;
  cursor: pointer;
  height: fit-content;
  background-color: var(--color-secondary);
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  outline: none;
  transition: border-color 0.3s ease;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--color-primary);
  margin-right: 5px;
}

.save {
  display: flex;
  align-items: center;
  justify-content: center;
}

.save__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 16px;
  inline-size: fit-content;
  block-size: fit-content;
  color: var(--color-primary);
}

.save__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 21px;
  block-size: 21px;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--color-secondary);
}

.button__text {
  display: block;
  font-family: var(--font-secondary);
  font-size: 14px;
  inline-size: max-content;
  mix-blend-mode: difference;
  color: var(--color-secondary);
}

.dialog {
  display: none;
}

.dialog__confirm {
  mix-blend-mode: difference;
  color: var(--color-secondary);
}

.dialog[open] {
  padding: 30px;
}

body:has(.dialog[open]) .dialog {
  display: block;
}

body:has(.dialog[open]) .dialog__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog[open]::backdrop {
  background-color: var(--color-primary);
  opacity: 0.75;
} 

.dialog__wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.dialog__title {
  font-family: var(--font-secondary);
  font-size: 14px;
  max-inline-size: 234px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__icon {
  inline-size: 39px;
  block-size: 39px;
}

.sepia {
  filter: sepia(100%);
}

.brightness {
  filter: brightness(150%);
}

.grayscale {
  filter: grayscale(80%);
}

.blur {
  filter: blur(2px);
}

.contrast {
  filter: contrast(150%);
}

.hue-rotate {
  filter: hue-rotate(90deg);
}

.saturate {
  filter: saturate(200%);
}

.multiple {
  filter: saturate(250%) contrast(200%) brightness(110%);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--color-primary);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color-primary);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--color-primary);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--color-primary);
  transition-delay: 0.05s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked {
  animation: scaleUp 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparkLight 0.3s ease-out 0.3s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-duration: 0.3s;
  transition-delay: 0.06s;
}

@supports (
  (-webkit-text-stroke: 1px var(--color-secondary)) or
    (text-stroke: 1px var(--color-secondary))
) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-secondary);
    text-stroke: 1px var(--color-secondary);
  }
}

@media (width < 376px) {
  .save__button {
    display: inline-flex;
    flex-direction: column;
  }

  .save__icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog__icon {
    inline-size: 39px;
    block-size: 39px;
  }

  .header-card {
    margin-block-end: 100px;
  }

  .card__label {
    top: 77px;
  }

  .dialog__icon {
    flex-shrink: 0;
  }

  .card__text-content {
    margin-block-end: 16px;
  }

  .dialog[open] {
    padding: 25px 31px;
  }
}
