/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-primary);
  font-variation-settings: "wght" var(--font-weight-normal, 410);
  font-size: var(--font-size);
  background-image: var(--gradient-body);
  background-attachment: fixed;
  background-size: cover;
}

.container {
  max-inline-size: var(--block-size);
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-secondary);
  font-family: var(--font-secondary);
  padding-block: clamp(7.625rem, 7.0481rem + 2.4615vw, 8.125rem);;
}

.header-card {
  margin-block: 100px;
  border: 2px solid var(--color-primary);
}

.header__logo {
  margin-block-end: 20px;
}

.header__logo-text {
  display: block;
  font-size: clamp(3.063rem, 4.923vw + 1.909rem, 4.063rem);
  max-width: max-content;
}

.header__title {
  font-size: clamp(0.875rem, 2.769vw + 0.226rem, 1.438rem);
  text-transform: uppercase;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
  border: 1px solid var(--color-primary);
  margin-block-end: 100px;
}

.card {
  position: relative;
  background-color: var(--color-secondary);
  border: 2px solid var(--color-primary);
}

.card__title {
  font-size: var(--font-size);
  font-variation-settings: "wght" var(--font-weight-bold);
  padding: 4px 10px;
}

.card__image {
  inline-size: 100%;
  display: flex;
  object-fit: cover;
  object-position: center;
  width: 100%;
  flex: 1;
  aspect-ratio: 1/1;
}

.card__label {
  position: absolute;
  top: 50px;
  right: 25px;
  font-family: var(--font-secondary);
  font-size: 14px;
  mix-blend-mode: hard-light;
  color: var(--color-primary);
  text-transform: uppercase;
  opacity: 0.9;
}

.card__text-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 25px;
}

.card__actions {
  display: flex;
  justify-content: end;
  gap: 7px;
  padding: 0 25px 20px;
}

.card__actions button {
  background-color: transparent;
}

.button {
  font-family: var(--font-secondary);
  font-size: 14px;
  padding: 12.5px 37px;
  border: 2px solid var(--color-primary);
}

.card__icon-button {
  border: none;
}

.save {
  display: flex;
  align-items: center;
  justify-content: center;
}

.save__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: fit-content;
  padding: 18px;
}

.save__icon {
  display: flex;
  inline-size: 21px;
  block-size: 21px;
}

.button__text {
  display: block;
  font-family: var(--font-secondary);
  font-size: 14px;
}

@supports (
  (-webkit-text-stroke: 1px var(--color-secondary)) or
    (text-stroke: 1px var(--color-secondary))
) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-secondary);
    text-stroke: 1px var(--color-secondary);
  }
}
